body{
    background-color: rgb(244, 245, 247);
    margin: 20rem 20rem 20rem 20rem;
    
}
.section1{
    width: 30pc;
    height: 30pc;
}
.lady-img{
    border-radius: 50%;
    padding-top: 20px;
}
main{
    margin:50px auto;
    background-color: white;
    width: 80pc;
    height:30pc;
    display:flex;
}
.section2{
    padding:40px;
display: inline-block;
}
.p{
    display:inline-block;  
    font-size: x-large; 
}
.botton{
    border-radius: 50%;
    width: 2pc;
    height: 2pc;
    background-color:rgb(207, 207, 241);
}
h1{
    font-size: xx-large
}
p{
    font-size: larger;
}