body{
    background-color:#edf2f8 ;
    margin: 20rem 20rem 20rem 20rem;
    
}
.section1{
    width: 35pc;
    height: 37pc;
}
.lady-img{
    border-radius: 50%;
    padding-top: 20px;
}
main{
    margin:50px auto;
    background-color: white;
    width: 90pc;
    height:37pc;
    display:flex;
}
.section2{
    padding:40px;
display: inline-block;
}
.p{
    display:inline-block;  
    font-size: 1.8rem; 
    color:#515561 ;
}
.botton{
    border-radius: 50%;
    width: 2pc;
    height: 2pc;
    background-color:rgb(207, 207, 241);
}
h1{
    font-size: 2.5rem;
    font-family:'Times New Roman', Times, serif;
    color: #535c66;
}
p{
    font-size: 1.5rem;
    color:#d1d8e0 ;
    align-content: space-between;
    justify-content: center;
}